<style>
    .container{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card{
        width: 500px;
    }
    a{
        color: white;
    }
</style>


<div class="container" *ngIf="prod != undefined" >
<mat-card class="card" >
    <img [src]="prod.picture" mat-card-image>
  
    <mat-card-header>
      <mat-card-title>{{ prod.name }}</mat-card-title>
      <mat-card-subtitle>{{ prod.price | currency: 'BRL'}}</mat-card-subtitle>
    </mat-card-header>

    <mat-card-actions>
        <button mat-raised-button color="accent" routerLink="/">
        <mat-icon>arrow_left</mat-icon>
        </button>
    </mat-card-actions>
  </mat-card>
</div>