<style>
  .list{
    display: flex;
  }

  a{
    color: white;
    text-decoration: none;
  }
  .active{
    color: red;
    border-bottom: 1px solid red;
  }
</style>


<mat-toolbar color="primary">
  <mat-list class="list">
    <mat-list-item>
      <a routerLink="/" routerLinkActive="active">Home</a> <!-- com o routerLink, não recarrega a página, ao ir para outro link, o roteamento é feito via Javascript -->
    </mat-list-item>
    <mat-list-item>
      <a routerLink="/login" routerLinkActive="active">Login</a> <!-- routerLinkActive="active", serve para quando a rota estiver ativa, passar uma classe para estilizar a tag -->
    </mat-list-item>
  </mat-list>

</mat-toolbar>

<router-outlet></router-outlet>

<br><br>